

@media screen and (max-width: 800px) {
.navbar-position{
    margin-left: 0px;
}

.display-header{
    display: block;
}

.display-space{
    display: none;
}
    
.max-width-1x{
    max-width: 100%;
}

.max-width-2x{
    max-width: 100%;
}

.max-width-3x{
    max-width: 100%;
}

.max-width-4x{
    max-width: 100%;
}

.max-width-5x{
    max-width: 100%;
}

}

@media screen and (max-width: 600px) {

.xs-block{
    display: block;
}

.box-email{
    width: 100%;
}

.form-email{
    width: 100%;
}


}

@media screen and (max-width: 1199px) {
  

}

@media screen and (max-width: 992px) {
  

}